{% extends 'crud/base.html' %}
{% load static %}
{% block content %}
<div class="gap"></div>
    <div class="greenstep"></div>
    <h2 class="text-center mb-5">Wanna <span style="font-family: robotoBold;">Start Work</span> With Me? </h2>
<h3 class="mb-5">My Contact Details</h3>
{% if details %}
{% for details in details %}
    <div class="mb-3">
        <b><small>EMAIL</small></b><br>
        <small>{{ details.email }}</small>
    </div>
    <div class="mb-3">
        <b><small>PHONE</small></b><br>
        <small>{{ details.phone }}</small>
    </div>
    <div class="mb-3">
        <b><small>ADDRESS</small></b><br>
        <small>
           {{ details.address }}
        </small>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}