{% extends 'crud/base.html' %}
{% load static %}
{% block content %}
    
<form class="m-auto bg-light p-md-4" action="" method="post" style="max-width: 600px">
    <fieldset>
    <legend><h3>New institute Details</h3></legend>
    {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for="level" class="form-label">Institute Level:</label>
      <input type="text"  class="form-control" id="level" placeholder="E.g. Primary institute" name="level" autofocus>
    </div>
    
    <div class="mb-3 mt-3">
        <label for="institute" class="form-label">Institute Name:</label>
        <input type="text" class="form-control" id="institute" placeholder="E.g. Nou-Bahini institute, Dhaka" name="institute" >
      </div>
    
      <div class="mb-3 mt-3">
        <label for="bio" class="form-label">Write a bio:</label>
        <input type="text"  class="form-control" id="bio" placeholder="E.g. People only remember the First and forget the Rest" name="bio">
      </div>
    
      <div class="mb-3 mt-3">
        <label for="location" class="form-label">Institute location:</label>
        <input type="text" class="form-control" id="location" placeholder="E.g. Dhaka" name="location">
      </div>
      <div class="mb-3 mt-3">
        <label for="date_from" class="form-label"> Starting Date:</label>
        <input type="date" class="form-control" id="date_from" name="date_from" >
      </div>
    
      <div class="mb-3 mt-3">
        <label for="date_to" class="form-label"> Starting Date:</label>
        <input type="date" class="form-control" id="date_to" name="date_to">
      </div>
    <button type="submit" class="btn  btn-outline-primary">Submit</button>
    <a href="{% url 'crud:home' %}" class="btn  btn-outline-danger">Cancel</a>
    </fieldset>
  </form>
{% endblock %}